:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
  --footer-link-color: #ffffff;
  --header-contacts-text-color: #757575;
  --hover-focus-color: #2196f3;
  --hero-btn-color: #188ce8;
  --web-logo-color: #2196f3;
  --studio-header-logo-color: #212121;
  --studio-footer-logo-color: #ffffff;
  --main-btn-color: #ffffff;
  --background-btn-color: #2196f3;
  --background-portfolio-btn-color: #f5f4fa;
  --background-hero-footer-color: #2f303a;
  --background-commands-color: #f5f4fa;
  --background-item-commads: #ffffff;
  --second-btn-color: #212121;
  --portfolio-btn-accent-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  /* color: inherit; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.size-icon {
  width: 20px;
  height: 20px;
}

.peculiarities-size-icon {
  width: 70px;
  height: 70px;
}

.customers-icon {
  width: 106px;
  height: 60px;
}

/* --------------HEADER----------------------- */

.site {
  border: 1px solid #ececec;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}

.site-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--studio-header-logo-color);
  padding-bottom: 25px;
  padding-top: 24px;
  padding-right: 93px;
}

.navigation-container {
  display: flex;
  align-items: center;
}

.site-container {
  display: flex;
  align-items: center;
}

.site-logo-span {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--web-logo-color);
}

.site-nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  position: relative;
}

.site-nav-list {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link.active::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: rgba(33, 150, 243, 1);
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
}

.site-nav-link,
.contacts-mail,
.contacts-tel {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-tel,
.contacts-mail {
  color: var(--header-contacts-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-item {
  display: flex;
}

.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-contacts-text-color);
  display: flex;
  margin-left: auto;
}

/* ----------------------HOVER-FOCUS--------------------------- */

.site-nav-link:hover,
.site-nav-link:focus,
.contacts-tel:hover,
.contacts-tel:focus,
.contacts-mail:hover,
.contacts-mail:focus,
.footer-tel:hover,
.footer-tel:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: var(--hover-focus-color);
}

.commands-social-link:hover,
.commands-social-link:focus {
  background-color: #2196f3;
}

.commands-social-link:hover .commands-social-icon,
.commands-social-link:focus .commands-social-icon {
  fill: #ffffff;
}

.contacts-icon:hover,
.contacts-icon:focus {
  fill: currentColor;
}

.close-icon:hover,
.close-icon:focus,
.customers-icon:hover,
.customers-icon:focus {
  fill: #2196f3;
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon,
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: #2196f3;
}

.modal-close:hover,
.modal-close:focus,
.customers-item:hover,
.customers-item:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.portfolio-link-img:hover .portfolio-text-content,
.portfolio-link-img:focus .portfolio-text-content {
  transform: translateY(0%);
}

/* ----------------------HERO---------------------------- */

.hero {
  background-color: var(--background-hero-footer-color);
  text-align: center;
  padding: 200px 0px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/title.jpg);
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.hero-btn {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  background: var(--background-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  border: transparent;
}

/* ----------------- PECULIARITEIS--------------------------- */

.peculiarities-hide,
.portfolio-title-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.peculiarities-list {
  display: flex;
}
.peculiarities-item:not(:last-child) {
  margin-right: 30px;
}
.peculiarities-item {
  width: 270px;
}

.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.peculiarities-text {
  margin-top: 10px;
}

.peculiarities-social {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* -----------------  WHAT WE DO --------------------------- */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--second-title-color);
}

.work-section {
  padding-top: 0px;
}

.work-list {
  display: flex;
  margin-top: 50px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}
.work-item {
  position: relative;
}

.work-item > .work-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-text {
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

/* -----------------  COMMADS --------------------------- */

.commands {
  background-color: var(--background-commands-color);
}

.commands-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--second-title-color);
}

.commands-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-title-color);
}

.commands-list {
  display: flex;
  margin-top: 50px;
}

.commands-text {
  text-align: center;
  margin-top: 10px;
}

.commands-text-name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.commands-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--background-item-commads);
}

.commands-item:not(:last-child) {
  margin-right: 30px;
}

.commands-social-icon {
  fill: #afb1b8;
}

.commads-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.commands-social-item,
.footer-social-item {
  width: 44px;
  height: 44px;
}

.commands-social-item + .commands-social-item,
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.commands-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -----------------  REGULAR CUSTOMERS --------------------------- */

.customers-title {
  font-size: 36px;
  color: var(--second-title-color);
  line-height: 1.66;
  text-align: center;
}

.close-icon,
.customers-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}

.customers-item {
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-radius: 4px;
  border-color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item + .customers-item {
  margin-left: 30px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -----------------  FOOTER --------------------------- */

.footer {
  background-color: var(--background-hero-footer-color);
  padding: 60px 0;
}

.footer-block {
  display: flex;
  align-items: baseline;
}

.footer-social-icon {
  fill: #ffffff;
}

.footer-left-block {
  margin-right: 70px;
}

.footer-title-block {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  margin-top: 20px;
}

.footer-social-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--studio-footer-logo-color);
  display: block;
}

.footer-list {
  margin-top: 20px;
}

.footer-item:not(:first-child) {
  margin-top: 9px;
}

.footer-logo-span {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--web-logo-color);
}

.footer-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}

.footer-mail,
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-text-color);
}

/* -----------------  PORTFOLIO --------------------------- */

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 4px;
}

.portfolio-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
  background-color: var(--background-portfolio-btn-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn:focus,
.portfolio-btn:hover {
  color: var(--portfolio-btn-accent-color);
  background-color: var(--background-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-btn {
  display: flex;
  justify-content: center;
}

.portfolio-list-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.portfolio-item-img:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-item-img:nth-child(n + 4) {
  margin-top: 30px;
}

.portfolio-item-img {
  margin-right: 30px;
}

.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text-content {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port .portfolio-link-img {
  display: block;
}
/* -----------------  PORTFOLIO BORDER IMG ----------------------------- */

.portfolio-border {
  border: 1px solid #ececec;
  border-top: none;
}

.portfolio-padding {
  padding: 20px 24px;
}

.portfolio-link-img:hover,
.portfolio-link-img:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* -----------------  MODAL ----------------------------- */

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop.is-hidden .modal {
  transform: translateX(50px);
  transition: transform 1000ms;
}

.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translateX(0);
  transform: translate(-50%, -50%);
  transition: transform 1000ms;
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
