.site {
  border: 1px solid #ececec;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}

.site-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--studio-header-logo-color);
  padding-bottom: 25px;
  padding-top: 24px;
  margin-right: 93px;
}

.navigation {
  display: flex;
  align-items: center;
}

// .site-container {
//   display: flex;
//   align-items: center;
// }

.site-logo-span {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--web-logo-color);
}

.navigation__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  position: relative;
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link.active::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: rgba(33, 150, 243, 1);
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
}

.navigation__link,
.navigation-contacts__mail,
.navigation-contacts__tel {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-contacts__tel,
.navigation-contacts__mail {
  color: var(--header-contacts-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.navigation-contacts__item {
  display: flex;
}

.navigation-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-contacts-text-color);
  display: flex;
  margin-left: auto;
}

.contacts-icon:hover,
.contacts-icon:focus {
  fill: currentColor;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation-contacts__tel:hover,
.navigation-contacts__tel:focus,
.navigation-contacts__mail:hover,
.navigation-contacts__mail:focus {
  color: var(--hover-focus-color);
}
